<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <div class="logo"><a href="" class="simple-text logo-normal">
    КАТЕГОРИИ
  </a></div>
  <div class="sidebar-wrapper">
    <ul class="nav">

      <li class="nav-item category" (click)="showTasksByCategory(null)" [class.active]="selectedCategory == null">\
        <a class="nav-link pointer">
          <span class="all-category-title">Все</span>
        </a>
      </li>

      <div class="line"></div>

      <li class="nav-item pointer"
          *ngFor="let category of categories"
          (click)="showTasksByCategory(category)"
          [class.active]="category === selectedCategory"
      >
        <a class="nav-link">
          <p>{{category.title}}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
